<!DOCTYPE html>
<html>
<head>

  

  <style type="text/css">

</style>
</head>
<body >


<div qv-extension  style="text-align: {{layout.props.buttonAlign}}" ng-class="(layout.buttonWidth === 'default') ? 'container default' : 'container full-width'">

 <div id="myS" class="siden" style="width: {{layout.prop.navwidth}}px;background-color:{{layout.props.buttonStylea}};">

  <a href="javascript:void(0)" class="closebtn" onclick="clFilter()" style="text-decoration: none;">×</a>
 
 <div class="dropdown">

  <div id="myDropdown" class="dropdown-content">


        <div class="btn" 
         
         style="visibility:{{layout.prop.visiblea}};margin-bottom:9px;margin-top:9px;background-color: {{layout.props.buttonStyle}} !important;color: {{layout.propscolor}};width:{{layout.proswidth}}px;height: {{layout.prosheight}}px;font-size: {{layout.fontS}}px;" ng-class="[(layout.props.buttonStyle) ? 'btn-' + layout.props.buttonStyle : 'btn-default', (layout.props.fullWidth) ? 'full-width' : 'auto-width', (layout.props.isButtonMultiLine) ? 'btn-multiline' : '']" qva-activate="go();">
<i ng-if="layout.props.buttonIcon !== ''" class="fa fa-{{layout.props.buttonIcon}}" style="padding-right:5px"></i>{{layout.props.buttonLabel1}}
</div>
        
      
        


<div class="btn" style="visibility:{{layout.prop.visibleb}};margin-bottom:9px;background-color: {{layout.props.buttonStyle}};color: {{layout.propscolor}};width:{{layout.proswidth}}px;height: {{layout.prosheight}}px;font-size: {{layout.fontS}}px;" ng-class="[(layout.props.buttonStyle) ? 'btn-' + layout.props.buttonStyle : 'btn-default', (layout.props.fullWidth) ? 'full-width' : 'auto-width', (layout.props.isButtonMultiLine) ? 'btn-multiline' : '']" qva-activate="go1();">
<i ng-if="layout.props.buttonIcon !== ''" class="fa fa-{{layout.props.buttonIcon}}" style="padding-right:5px"></i>{{layout.props.buttonLabel2}}
</div>
    
        <div class="btn" style="visibility:{{layout.prop.visiblec}};margin-bottom:9px;background-color: {{layout.props.buttonStyle}};color: {{layout.propscolor}};width:{{layout.proswidth}}px;height: {{layout.prosheight}}px;font-size: {{layout.fontS}}px;" ng-class="[(layout.props.buttonStyle) ? 'btn-' + layout.props.buttonStyle : 'btn-default', (layout.props.fullWidth) ? 'full-width' : 'auto-width', (layout.props.isButtonMultiLine) ? 'btn-multiline' : '']" qva-activate="go2();">
<i ng-if="layout.props.buttonIcon !== ''" class="fa fa-{{layout.props.buttonIcon}}" style="padding-right:5px"></i>{{layout.props.buttonLabel3}}
</div>


  <div class="btn" style="visibility:{{layout.prop.visibled}};margin-bottom:9px;background-color: {{layout.props.buttonStyle}};color: {{layout.propscolor}};width:{{layout.proswidth}}px;height: {{layout.prosheight}}px;font-size: {{layout.fontS}}px;" ng-class="[(layout.props.buttonStyle) ? 'btn-' + layout.props.buttonStyle : 'btn-default', (layout.props.fullWidth) ? 'full-width' : 'auto-width', (layout.props.isButtonMultiLine) ? 'btn-multiline' : '']" qva-activate="go3();">
<i ng-if="layout.props.buttonIcon !== ''" class="fa fa-{{layout.props.buttonIcon}}" style="padding-right:5px"></i>{{layout.props.buttonLabel4}}
</div>


  <div class="btn" style="visibility:{{layout.prop.visiblee}};margin-bottom:9px;background-color: {{layout.props.buttonStyle}};color: {{layout.propscolor}};width:{{layout.proswidth}}px;height: {{layout.prosheight}}px;font-size: {{layout.fontS}}px;" ng-class="[(layout.props.buttonStyle) ? 'btn-' + layout.props.buttonStyle : 'btn-default', (layout.props.fullWidth) ? 'full-width' : 'auto-width', (layout.props.isButtonMultiLine) ? 'btn-multiline' : '']" qva-activate="go4();">
<i ng-if="layout.props.buttonIcon !== ''" class="fa fa-{{layout.props.buttonIcon}}" style="padding-right:5px"></i>{{layout.props.buttonLabel5}}
</div>


<div class="btn" style="visibility:{{layout.prop.visiblef}};margin-bottom:9px;background-color: {{layout.props.buttonStyle}};color: {{layout.propscolor}};width:{{layout.proswidth}}px;height: {{layout.prosheight}}px;font-size: {{layout.fontS}}px;" ng-class="[(layout.props.buttonStyle) ? 'btn-' + layout.props.buttonStyle : 'btn-default', (layout.props.fullWidth) ? 'full-width' : 'auto-width', (layout.props.isButtonMultiLine) ? 'btn-multiline' : '']" qva-activate="go5();">
<i ng-if="layout.props.buttonIcon !== ''" class="fa fa-{{layout.props.buttonIcon}}" style="padding-right:5px"></i>{{layout.props.buttonLabel6}}
</div>

<div class="btn" style="visibility:{{layout.prop.visibleg}};margin-bottom:9px;background-color: {{layout.props.buttonStyle}};color: {{layout.propscolor}};width:{{layout.proswidth}}px;height: {{layout.prosheight}}px;font-size: {{layout.fontS}}px;" ng-class="[(layout.props.buttonStyle) ? 'btn-' + layout.props.buttonStyle : 'btn-default', (layout.props.fullWidth) ? 'full-width' : 'auto-width', (layout.props.isButtonMultiLine) ? 'btn-multiline' : '']" qva-activate="go6();">
<i ng-if="layout.props.buttonIcon !== ''" class="fa fa-{{layout.props.buttonIcon}}" style="padding-right:5px"></i>{{layout.props.buttonLabel7}}
</div>

<div class="btn" style="visibility:{{layout.prop.visibleh}};margin-bottom:9px;background-color: {{layout.props.buttonStyle}};color: {{layout.propscolor}};width:{{layout.proswidth}}px;height: {{layout.prosheight}}px;font-size: {{layout.fontS}}px;" ng-class="[(layout.props.buttonStyle) ? 'btn-' + layout.props.buttonStyle : 'btn-default', (layout.props.fullWidth) ? 'full-width' : 'auto-width', (layout.props.isButtonMultiLine) ? 'btn-multiline' : '']" qva-activate="go7();">
<i ng-if="layout.props.buttonIcon !== ''" class="fa fa-{{layout.props.buttonIcon}}" style="padding-right:5px"></i>{{layout.props.buttonLabel8}}
</div>

<div class="btn" style="visibility:{{layout.prop.visiblei}};margin-bottom:9px;background-color: {{layout.props.buttonStyle}};color: {{layout.propscolor}};width:{{layout.proswidth}}px;height: {{layout.prosheight}}px;font-size: {{layout.fontS}}px;" ng-class="[(layout.props.buttonStyle) ? 'btn-' + layout.props.buttonStyle : 'btn-default', (layout.props.fullWidth) ? 'full-width' : 'auto-width', (layout.props.isButtonMultiLine) ? 'btn-multiline' : '']" qva-activate="go8();">
<i ng-if="layout.props.buttonIcon !== ''" class="fa fa-{{layout.props.buttonIcon}}" style="padding-right:5px"></i>{{layout.props.buttonLabel9}}
</div>

<div class="btn" style="visibility:{{layout.prop.visiblej}};margin-bottom:9px;background-color: {{layout.props.buttonStyle}};color: {{layout.propscolor}};width:{{layout.proswidth}}px;height: {{layout.prosheight}}px;font-size: {{layout.fontS}}px;" ng-class="[(layout.props.buttonStyle) ? 'btn-' + layout.props.buttonStyle : 'btn-default', (layout.props.fullWidth) ? 'full-width' : 'auto-width', (layout.props.isButtonMultiLine) ? 'btn-multiline' : '']" qva-activate="go9();">
<i ng-if="layout.props.buttonIcon !== ''" class="fa fa-{{layout.props.buttonIcon}}" style="padding-right:5px"></i>{{layout.props.buttonLabel10}}
</div>



 
</div>





<script >
$(document).ready(function () {
    $('#myDropdown .btn').click(function (ev) {
        $('#myDropdown i').removeClass('selected');
        $(ev.currentTarget).parent('i').addClass('selected');
    });
});


</script>







<script>

function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>











  </div>
</div>


<button onclick ="opFilter()" class="dropbtn" style="background-color:{{layout.prop.colorj}};width: {{layout.btn_width}}px;height:{{layout.btn_height}}px;">Select Sheet</button>



<script type="text/javascript">
   
  function opFilter() {
    document.getElementById("myS").style.width = "250px";
}

function clFilter(){
    document.getElementById("myS").style.width = "0";
}
</script>

</div>




</body>
</html>